/* start global rulse */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color : #fa44e2 ;
    --main-color-alt : #ffffff ;
    --main-color-hover : #c404ff ;
    --main-tran : 0.3s ;
    --main-top : 10px ;
    --main-bottom : 50px ;
}
::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track {background-color: var(--main-color-alt);}
::-webkit-scrollbar-thumb {background-color:#a7d7c5;}
::-webkit-scrollbar-thumb:hover {background-color:var(--main-color) ;}
html {
    scroll-behavior: smooth;
    background-color:var(--main-color-alt);
}
body {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;color: var(--main-color-alt);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.main-heading {text-align: center;margin-bottom: 80px;}
.main-heading h2 {font-size: 40px;line-height: 2;}
.main-heading p  {font-size: 20px;line-height: 2;}
/* end global rulse */
/* ---------------------------- */
/* start header */
header {padding: 20px;position: absolute;top: 0;z-index: 20;left: 50%;transform: translate(-50%);}
header .container {display: flex;justify-content:space-between;align-items: center;direction: ltr;}
header .container img {width: 60px}
header .container .links {position: relative;direction: rtl;}
header .container .links:hover .icon span:nth-child(2) {width: 100%;}
header .container .links .icon {width: 30px;display: flex;flex-wrap: wrap;}
header .container .links .icon span {background-color: var(--main-color);margin-bottom: 5px;height: 2px;}
header .container .links .icon span:first-child {width: 100%;}
header .container .links .icon span:nth-child(2) {width: 60%;transition: var(--main-tran);}
header .container .links .icon span:last-child {width: 100%;}
header .container .links ul {list-style: none;margin: 0;padding: 0;background-color:var(--main-color);position: absolute;right:0;min-width: 200px;top: calc(100% + 15px);display: none;z-index: 100;}
header .links ul::before {content: "";border-width: 10px;border-style: solid;border-color: transparent transparent var(--main-color) transparent;position: absolute;right: 5px;top: -20px;}
header .container .links:hover ul {display: block;}
header .container .links ul li a {display: block;padding: 15px;text-decoration: none;color: var(--main-color-alt);transition: var(--main-tran);-webkit-transition: var(--main-tran);-moz-transition: var(--main-tran);-ms-transition: var(--main-tran);-o-transition: var(--main-tran);}
header .container .links ul li a:hover {padding-left: 25px;color:var(--main-color-hover);}
header .container .links ul li:not(:last-child) a {border-bottom: 1px solid var(--main-color-alt);}
header .container .image::before { content: "";width: 80px;height: 80px;top: -30px;left: 10px;background-color: var(--main-color);position: absolute;border-radius: 0 10px 0 10px;}
@media (max-width:992px) {header {position: relative;padding: 0;}}
/* end header */

/* start landing */
.landing { background-size: cover; height: 100vh; position: relative;}
.landing .container { display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; position: relative; top:50%; transform:translateY(-50%) ; -webkit-transform:translateY(-50%) ; -moz-transform:translateY(-50%) ; -ms-transform:translateY(-50%) ; -o-transform:translateY(-50%) ; }
.landing .container .text {text-align: center; max-width: 600px;position: relative; padding: 30px;}
.landing .container .text h1 {color:var(--main-color);}
.landing .container .text p {color: var(--main-color);line-height: 1.4;text-align: justify;}
.landing .container .text a {padding: 15px;background-color: var(--main-color);border-radius: 10px;display: block;width: fit-content;margin: auto;}
.landing .container .img {position: relative;max-width: 100%;}
.landing .container .img::before {content: "";position: absolute;top: 50%;left: 50%;width: 300px;height: 300px;background: url(../images/shape002.png);z-index: -1;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);}
.landing .container .img img { border: 5px solid var(--main-color); border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; }
@media (max-width:992px) {.landing .container {align-items: center;justify-content: center;}.landing .text {margin-bottom: 50px;}}
/* end landing */

/* end landing */
.Admin {background-color: var(--main-color);background-size: cover;color: var(--main-color-alt);min-height: 100vh;position:relative;width: 100%;height: 100%;top: 0;left: 0;}
.Admin .container {display: grid;grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));gap: 40px;text-align: center;position: relative;}
.Admin .container .box {position: relative;}
.Admin .container .box .img {max-width: 100%;position: relative;}
.Admin .container .box .img::before { content: ""; position: absolute;width: 300px;height: 300px; left: 50%; top: 50%; background: url(../images/shape002.png); transform:translate(-50% , -50%) ; -webkit-transform:translate(-50% , -50%) ; -moz-transform:translate(-50% , -50%) ; -ms-transform:translate(-50% , -50%) ; -o-transform:translate(-50% , -50%) ; }
.Admin .container .box .img img { width: 200px; height: 200px; border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; }
.Admin .container .box .name {position: relative;margin-bottom: 40px;}
.Admin .container .box .name h3 {}
.Admin .container .box .name p {}
/* end landing */

/* start Achievements */
.Achievements {padding-top: var(--main-top);padding-bottom: var(--main-bottom);color:var(--main-color);background-color: var(--main-color-alt);position: relative;overflow: hidden;}
.Achievements .container {display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;position: relative;}
.Achievements::before {content: "";background: url(../images/shape.png);width: 666px;height: 668px;position: absolute;top: 0px;left: -400px ;}
.Achievements .container .Achiev { margin-top: 80px; margin-bottom: 80px; text-align: center; border: 4px solid var(--main-color); padding:10px 75px; border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; }
.Achievements .container .Achiev h2 {font-size: 60px;}
.Achievements .container .Achiev h3 {font-size: 40px;}
@media (max-width:992px) {.Achievements .container .Achiev {margin: auto;margin-bottom: 20px;}}
/* end Achievements */

/* start choose */
.choose {color: var(--main-color-alt);background-color: var(--main-color);position: relative;min-height: 100vh;overflow: hidden;padding: 0;margin: 0;}
.choose .container {display: flex;justify-content: space-between;align-items: center;}
.choose .container img {min-width: 20%;}
.choose .container .fon {text-align: center;}
.choose .container .fon h4 {font-size: 50px;}
.choose .container .fon p {line-height: 1.5;margin-top: -25px;}
.choose .container a {padding: 7px;text-align: center;line-height: 0px;width:172px ;color:var(--main-color);height:30px ;background-color:var(--main-color-alt);border: none;border-radius:10px;}
@media (max-width:992px) {.choose .container {flex-wrap: wrap;}} 
/* end choose */

/* start choose2 */
.choose2 {color: var(--main-color);background-color: var(--main-color-alt);position: relative;min-height: 100vh;overflow: hidden;padding:0 ;margin: 0;}
.choose2::before {content: "";background: url(../images/shape.png);width: 666px;height: 668px;position: absolute;top: 0px;right: -500px ;}
.choose2 .container {display: flex;justify-content: space-between;align-items: center;}
.choose2 .container img {min-width: 20%;margin-top: 20px;}
.choose2 .container .fon {z-index: 10;text-align: center;}
.choose2 .container .fon h4 {font-size: 50px;}
.choose2 .container a {padding: 7px;text-align: center;line-height: 0px;width:172px ;color:var(--main-color-alt);height:30px ;background-color:var(--main-color);border: none;border-radius:10px;}
@media (max-width:992px) {.choose2 .container {flex-wrap: wrap;}} 

/* end choose2 */

/* end sall */
.sall {padding-top: var(--main-top);padding-bottom: var(--main-bottom);position: relative;min-height: 100vh;overflow: hidden;color: var(--main-color-alt);background-color: var(--main-color);}
.sall .container {display: grid;grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));gap: 100px;text-align: center;padding: 0;}
.sall .container .cart {padding: 10px;background-color: var(--main-color-alt);border-radius: 5px;color: var(--main-color);text-align: center;}
.sall .container .cart img {width:130px;}
.sall .container .cart a {border-radius: 20px;padding: 15px;width: 300px;height:0px ;background-color: var(--main-color);color: var(--main-color-alt);border: none;padding: 10px;}
/* end sall */

/* start maria */
.maria {padding-top:50px;padding-bottom: var(--main-bottom);background-color: var(--main-color-alt);color: var(--main-color);position: relative;text-align: center;}
.maria .container .carte {position: relative;margin-top: 40px;}
.maria .container .carte .img {position: relative;max-width: 100%;}
.maria .container .carte .img::before { content: ""; position: absolute; background: url(../images/shape002.png); top:50%; left:50%; width:301px; height:299px; transform:translate(-50% , -50%) ; -webkit-transform:translate(-50% , -50%) ; -moz-transform:translate(-50% , -50%) ; -ms-transform:translate(-50% , -50%) ; -o-transform:translate(-50% , -50%) ; }
.maria .container .carte .img img {border: 5px solid violet;border-radius: 50%;position: relative;max-width: 210px;}
.maria .container .carte h3 {margin-top: 50px;}
.maria .container .carte p {line-height: 1.6;}
.contactus .container form {direction: ltr;z-index: 100;}
.contactus .container form input[type="email"] { border: 1px solid var(--main-color-alt); border-right: none; background:none; padding: 10px 20px 10px 60px; caret-color:var(--main-color-alt); width: calc(100% - 126px); border-radius:15px 0 0 15px ; -webkit-border-radius:15px 0 0 15px ; -moz-border-radius:15px 0 0 15px ; -ms-border-radius:15px 0 0 15px ; -o-border-radius:15px 0 0 15px ; }
.contactus .container form input[type="submit"] { width: 120px; background-color: var(--main-color-alt); color: var(--main-color); padding: 10px 20px; border: 1px solid var(--main-color-alt); border-left: none; text-transform: uppercase; border-radius:0 15px 15px 0 ; -webkit-border-radius:0 15px 15px 0 ; -moz-border-radius:0 15px 15px 0 ; -ms-border-radius:0 15px 15px 0 ; -o-border-radius:0 15px 15px 0 ; }
@media (max-width:992px) {.maria .container .carte::before{left: 29px;}}
/* end maria */

/* start contactus */
.contactus {padding-top: var(--main-top);padding-bottom: var(--main-bottom);background-color: var(--main-color);color: var(--main-color-alt);position: relative;}
.contactus::before {content: "";background-image: url(../images/shape.png);width: 100%;min-height: 100%;position: absolute;top:0px;right: 0px ;}
.contactus .container {display:flex;flex-direction: column;justify-content: space-between;align-items: center;}
.contactus .container .text {margin-bottom: 120px;}
.contactus .container .text h3 {font-size: 20px;line-height: 2;}
.contactus .container form {direction: ltr;z-index: 100;}
.contactus .container a {padding: 15px;text-align: center;line-height: 0px;width:172px ;color:var(--main-color-alt);height:30px ;background-color:var(--main-color);border: none;border-radius:10px;}
@media (max-width:767px) {.contactus .container form input[typ="submit"] {width: 100px;}}
/* end contactus */

/* start footer */
.footer {padding-top: 60px;padding-bottom: 60px;background-color: var(--main-color-alt);color: var(--main-color);overflow: hidden;position: relative;}
.footer .container {display: grid;grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));gap: 40px;position: relative;}
.footer::before {content: "";position: absolute;left: -160px;top:75px;background-image: url(../images/shape002.png);width:301px ;height: 299px;}
.footer .container .links h4 {display: inline-block;border-bottom: 3px solid var(--main-color);padding-bottom: 10px;}
.footer .container .links ul {line-height: 1.6;}
.footer .container .links ul li a {color: var(--main-color);}
.footer .container .links ul li a:hover {color: var(--main-color-hover);}

.footer .container .map {text-align: center;border-left: 1px solid var(--main-color);border-right: 1px solid var(--main-color);}
.footer .container .map iframe {border-radius: 4px;}

.footer .container .me {text-align: center;margin-top:150px;z-index: 5;}
.footer .container .me span span {font-size: 30px;}

/* end footer */