/* start global rulse */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color : #6c9894 ;
    --main-color-alt : #f4f9f4 ;
    --main-tran : 0.3s ;
    --main-top : 10px ;
    --main-bottom : 50px ;
}
::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track {background-color: var(--main-color-alt);}
::-webkit-scrollbar-thumb {background-color:#a7d7c5;}
::-webkit-scrollbar-thumb:hover {background-color:var(--main-color) ;}
html {
    scroll-behavior: smooth;
    background-color:#f4f9f4;
}
body {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;color: white;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.main-heading {text-align: center;margin-bottom: 80px;}
.main-heading h2 {font-size: 40px;line-height: 2;}
.main-heading p  {font-size: 20px;line-height: 2;}
/* end global rulse */
/* ---------------------------- */
/* start header */
header {top: 0;left: 0;width: 100%;height: 100%;z-index: 5;margin: auto;position: absolute;}
header .container {display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;position: relative;margin-top: 40px;}
header .container::before {content: "";background-color:#e2ede8;height: 30px;width: calc(100% - 0px);position: absolute;bottom: -7px;left: 15px;}
header .container ul {display: flex;}
header .container ul li {position: relative;}
header .container ul li::before { content: ""; ; z-index: 100; width: 0; height: 4px; bottom: -50px; left: -5%; position: absolute; transition: var(--main-tran); -webkit-transition: var(--main-tran); -moz-transition: var(--main-tran); -ms-transition: var(--main-tran); -o-transition: var(--main-tran); }
header .container ul li:hover::before {width: 100%;}
header .container ul li a { color: white;padding:42px 10px; font-size: 15px;font-weight: bold; transition:var(--main-tran) ; -webkit-transition:var(--main-tran) ; -moz-transition:var(--main-tran) ; -ms-transition:var(--main-tran) ; -o-transition:var(--main-tran) ; }
header .container ul li a:hover {color: var(--main-color);}
header .container ul li:first-child a {color: var(--main-color);}
header .container .image::before { content: "";width: 80px;height: 80px;top: -30px;left: 10px;background-color: #a7d7c5;position: absolute;border-radius: 0 10px 0 10px;}
header .container .image img {width: 65px;max-width: 100%;position: absolute;top: -31px;left: 15px;}
@media (max-width:992px) {header .container {flex-direction: column;} header .container .image {order: -1;margin-bottom: 20px;}header {position: absolute;}header .container ul li a {padding: 13px 21px;}header .container ul li::before {bottom: -20px;}}
@media (max-width:767px) { header .container ul li a {padding: 4px;font-size: 8px;}}
/* end header */

/* start landing */
.landing {background-color: var(--main-color-alt);background-size: cover;min-height: 100vh;position:relative;width: 100%;height: 100%;top: 0;left: 0;}
.landing .container::before {content: "";z-index: 10;;position: absolute;right: 0;bottom: -367px;background-image: url(../images/shape003.png);width:320px ;height: 668px;}
.landing .container {display: flex;justify-content: flex-end;align-items: center;}
.landing .container .text {top: 50%;text-align: center; position: absolute; right: 0; width: 50%; padding: 50px; transform:translateY(-50%) ; -webkit-transform:translateY(-50%) ; -moz-transform:translateY(-50%) ; -ms-transform:translateY(-50%) ; -o-transform:translateY(-50%) ; }
.landing .container .text h1 {color:var(--main-color);margin-bottom: 30px;}
.landing .container .text p {color: var(--main-color);line-height: 1.4;text-align: justify;}
.landing .container .text form {}
.landing .container .text form input[type=button] {width:172px ;color: white;height:30px ;background-color: var(--main-color);border: none;border-radius:10px;}
.landing .container .imge {margin-top: 75px;position: relative;}
.landing .container .imge::before {content: "";position: absolute;border-radius: 50%;border: 5px solid #6c9894;background-image: url(../images/maria.jpg);width:196px;height:200px;left:150px;top:50%;transform:translateY(-50%) ; -webkit-transform:translateY(-50%) ; -moz-transform:translateY(-50%) ; -ms-transform:translateY(-50%) ; -o-transform:translateY(-50%) ;;}
.landing .container .imge img {width:500px;max-width: 100%;}
@media (max-width:992px) {.linding .container {display: }}
@media (max-width:767px) {}
/* end landing */

/* end landing */
.Admin {background-color: var(--main-color);background-size: cover;color: var(--main-color-alt);min-height: 100vh;position:relative;width: 100%;height: 100%;top: 0;left: 0;}
.Admin .container {display:grid;grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));gap: 40px;text-align: center;padding: 0;}
.Admin .container .imag {padding: 0;position: relative;}
.Admin .container .imag::before {content: "";position: absolute;background: url(../images/shape002.png);top: -22px;left: 27px;width:301px;height:299px;margin-left: 0px;}
.Admin .container .imag .img {border-radius: 50%;width: 250px;max-width: 100%;position: relative;padding: 20px;}
/* end landing */

/* start Achievements */
.Achievements {padding-top: var(--main-top);padding-bottom: var(--main-bottom);color:var(--main-color);background-color: var(--main-color-alt);position: relative;overflow: hidden;}
.Achievements .container {display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;position: relative;}
.Achievements::before {content: "";background: url(../images/shape.png);width: 666px;height: 668px;position: absolute;top: 0px;left: -400px ;}
.Achievements .container .Achiev { margin-top: 80px; margin-bottom: 80px; text-align: center; border: 4px solid var(--main-color); padding:10px 75px; border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; }
.Achievements .container .Achiev h2 {font-size: 60px;}
.Achievements .container .Achiev h3 {font-size: 40px;}
@media (max-width:992px) {.Achievements .container .Achiev {margin: auto;margin-bottom: 20px;}}
/* end Achievements */

/* start choose */
.choose {color: var(--main-color-alt);background-color: var(--main-color);position: relative;min-height: 100vh;overflow: hidden;padding: 0;margin: 0;}
.choose .container {display: flex;justify-content: space-between;align-items: center;}
.choose .container .image {padding-left: 60px;}
.choose .container .image img {width:603px;min-width: 100%;}
.choose .container .fon {text-align: center;}
.choose .container .fon h4 {font-size: 50px;}
.choose .container .fon p {line-height: 1.5;margin-top: -25px;}
.choose .container .fon form {margin-top: 25px;}
.choose .container .fon form input[type=button] {color: var(--main-color);background-color: var(--main-color-alt);border:none;width:200px ;height:40px ;}
/* end choose */

/* start choose2 */
.choose2 {color: var(--main-color);background-color: var(--main-color-alt);position: relative;min-height: 100vh;overflow: hidden;padding:0 ;margin: 0;}
.choose2::before {content: "";background: url(../images/shape.png);width: 666px;height: 668px;position: absolute;top: 0px;right: -500px ;}
.choose2 .container {display: flex;justify-content: space-between;align-items: center;}
.choose2 .container .image {padding-right: 60px;}
.choose2 .container .image img {width:603px;min-width: 100%;}
.choose2 .container .fon {text-align: center;}
.choose2 .container .fon h4 {font-size: 50px;}
.choose2 .container .fon form {margin-top: 25px;}
.choose2 .container .fon form input[type=button] {color: var(--main-color-alt);background-color: var(--main-color);border:none;width:200px ;height:40px ;}
/* end choose2 */

/* start contactus */
.contactus {padding-top: var(--main-top);padding-bottom: var(--main-bottom);background-color: var(--main-color-alt);color: var(--main-color);position: relative;}
.contactus::before {content: "";background-image: url(../images/shape.png);width: 100%;min-height: 100%;position: absolute;top:0px;right: 0px ;}
.contactus .container {display:flex;flex-direction: column;justify-content: space-between;align-items: center;}
.contactus .container .text {margin-bottom: 120px;}
.contactus .container .text h3 {font-size: 20px;line-height: 2;}
.contactus .container form {direction: ltr;z-index: 100;}
.contactus .container form input[type="email"] { border: 1px solid var(--main-color); border-right: none; background:none; padding: 10px 20px 10px 60px; caret-color:var(--main-color); width: calc(100% - 126px); border-radius:15px 0 0 15px ; -webkit-border-radius:15px 0 0 15px ; -moz-border-radius:15px 0 0 15px ; -ms-border-radius:15px 0 0 15px ; -o-border-radius:15px 0 0 15px ; }
.contactus .container form input[type="submit"] { width: 120px; background-color: var(--main-color); color: white; padding: 10px 20px; border: 1px solid var(--main-color); border-left: none; text-transform: uppercase; border-radius:0 15px 15px 0 ; -webkit-border-radius:0 15px 15px 0 ; -moz-border-radius:0 15px 15px 0 ; -ms-border-radius:0 15px 15px 0 ; -o-border-radius:0 15px 15px 0 ; }
@media (max-width:767px) {.contactus .container form input[typ="submit"] {width: 100px;}}
/* end contactus */

/* start footer */
.footer {padding-top: 60px;padding-bottom: 60px;background-color: var(--main-color);color: var(--main-color-alt);overflow: hidden;position: relative;}
.footer .container {display: grid;grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));gap: 40px;position: relative;}
.footer::before {content: "";position: absolute;left: -160px;top:75px;background-image: url(../images/shape002.png);width:301px ;height: 299px;}
.footer .container .links h4 {display: inline-block;border-bottom: 3px solid var(--main-color-alt);padding-bottom: 10px;}
.footer .container .links ul {line-height: 1.6;}
.footer .container .links ul li a:hover {color: teal;}

.footer .container .map {text-align: center;border-left: 1px solid white;border-right: 1px solid white;}
.footer .container .map iframe {border-radius: 4px;}

.footer .container .me {text-align: center;margin-top:150px;z-index: 5;}
.footer .container .me span span {font-size: 30px;}

/* end footer */