/* start global rulse */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color : #6c9894 ;
    --main-color-alt : #f4f9f4 ;
    --main-tran : 0.3s ;
    --main-top : 10px ;
    --main-bottom : 50px ;
}
::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track {background-color: var(--main-color-alt);}
::-webkit-scrollbar-thumb {background-color:#a7d7c5;}
::-webkit-scrollbar-thumb:hover {background-color:var(--main-color) ;}
html {
    scroll-behavior: smooth;
    background-color:#f4f9f4;
}
body {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;color: white;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.main-heading {text-align: center;margin-bottom: 80px;}
.main-heading h2 {font-size: 40px;line-height: 2;}
.main-heading p  {font-size: 20px;line-height: 2;}
/* end global rulse */
/* ---------------------------- */
/* start header */
header {padding: 20px;position: absolute;top: 0;z-index: 20;left: 50%;transform: translate(-50%);}
header .container {display: flex;justify-content:space-between;align-items: center;direction: ltr;}
header .container img {width: 60px}
header .container .links {position: relative;direction: rtl;}
header .container .links:hover .icon span:nth-child(2) {width: 100%;}
header .container .links .icon {width: 30px;display: flex;flex-wrap: wrap;}
header .container .links .icon span {background-color: #333;margin-bottom: 5px;height: 2px;}
header .container .links .icon span:first-child {width: 100%;}
header .container .links .icon span:nth-child(2) {width: 60%;transition: var(--main-tran);}
header .container .links .icon span:last-child {width: 100%;}
header .container .links ul {list-style: none;margin: 0;padding: 0;background-color:var(--main-color);position: absolute;right:0;min-width: 200px;top: calc(100% + 15px);display: none;z-index: 100;}
header .links ul::before {content: "";border-width: 10px;border-style: solid;border-color: transparent transparent var(--main-color) transparent;position: absolute;right: 5px;top: -20px;}
header .container .links:hover ul {display: block;}
header .container .links ul li a {display: block;padding: 15px;text-decoration: none;color: #ffffff;transition: var(--main-tran);-webkit-transition: var(--main-tran);-moz-transition: var(--main-tran);-ms-transition: var(--main-tran);-o-transition: var(--main-tran);}
header .container .links ul li a:hover {padding-left: 25px;color: violet;}
header .container .links ul li:not(:last-child) a {border-bottom: 1px solid #ddd;}
header .container .image::before { content: "";width: 80px;height: 80px;top: -30px;left: 10px;background-color: #a7d7c5;position: absolute;border-radius: 0 10px 0 10px;}
@media (max-width:992px) {header {position: relative;padding: 0;}}
/* end header */

/* start landing */
.landing { background-size: cover; height: calc(100vh - 112.29px); position: relative:}
.landing .container {display: flex;justify-content: space-between;}
.landing .text {margin-top: 200px;text-align: center; width: 50%;  }
.landing .text h1 {color:var(--main-color);margin-bottom: 30px;}
.landing .text p {color: var(--main-color);line-height: 1.4;text-align: justify;}
.landing .text form {}
.landing .text form input[type=button] {width:172px ;color: white;height:30px ;background-color: var(--main-color);border: none;border-radius:10px;}
.landing .imge {margin-top: 75px;}
.landing .imge::before {content: "";position: absolute;border-radius: 50%;border: 5px solid #6c9894;background-image: url(../images/maria.jpg);width:196px;height:200px;left:420px;top:230px;}
.landing .imge img {width:500px;max-width: 100%;}
@media (max-width:992px) {.landing {height: calc(100vh - 45px);} .landing .container {flex-wrap: wrap;}.landing .text {margin-left: auto;margin-right: auto;width: 300px;margin-top: 40px;} .landing .imge::before{left: 86px;top: 400px;} .landing .imge {margin-top: -20px;}}
/* end landing */

/* end landing */
.Admin {background-color: var(--main-color);background-size: cover;color: var(--main-color-alt);min-height: 100vh;position:relative;width: 100%;height: 100%;top: 0;left: 0;}
.Admin .container {display:grid;grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));gap: 40px;text-align: center;padding: 0;}
.Admin .container .imag {padding: 0;position: relative;}
.Admin .container .imag::before {content: "";position: absolute;background: url(../images/shape002.png);top: -22px;left: 27px;width:301px;height:299px;margin-left: 0px;}
.Admin .container .imag .img {border-radius: 50%;width: 250px;max-width: 100%;position: relative;padding: 20px;}
/* end landing */

/* start Achievements */
.Achievements {padding-top: var(--main-top);padding-bottom: var(--main-bottom);color:var(--main-color);background-color: var(--main-color-alt);position: relative;overflow: hidden;}
.Achievements .container {display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;position: relative;}
.Achievements::before {content: "";background: url(../images/shape.png);width: 666px;height: 668px;position: absolute;top: 0px;left: -400px ;}
.Achievements .container .Achiev { margin-top: 80px; margin-bottom: 80px; text-align: center; border: 4px solid var(--main-color); padding:10px 75px; border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; }
.Achievements .container .Achiev h2 {font-size: 60px;}
.Achievements .container .Achiev h3 {font-size: 40px;}
@media (max-width:992px) {.Achievements .container .Achiev {margin: auto;margin-bottom: 20px;}}
/* end Achievements */

/* start choose */
.choose {color: var(--main-color-alt);background-color: var(--main-color);position: relative;min-height: 100vh;overflow: hidden;padding: 0;margin: 0;}
.choose .container {display: flex;justify-content: space-between;align-items: center;}
.choose .container img {min-width: 20%;}
.choose .container .fon {text-align: center;}
.choose .container .fon h4 {font-size: 50px;}
.choose .container .fon p {line-height: 1.5;margin-top: -25px;}
.choose .container .fon form {margin-top: 25px;}
.choose .container .fon form input[type=button] {color: var(--main-color);background-color: var(--main-color-alt);border:none;width:200px ;height:40px ;}
@media (max-width:992px) {.choose .container {flex-wrap: wrap;}} 
/* end choose */

/* start choose2 */
.choose2 {color: var(--main-color);background-color: var(--main-color-alt);position: relative;min-height: 100vh;overflow: hidden;padding:0 ;margin: 0;}
.choose2::before {content: "";background: url(../images/shape.png);width: 666px;height: 668px;position: absolute;top: 0px;right: -500px ;}
.choose2 .container {display: flex;justify-content: space-between;align-items: center;}
.choose2 .container img {min-width: 20%;}
.choose2 .container .fon {text-align: center;}
.choose2 .container .fon h4 {font-size: 50px;}
.choose2 .container .fon form {margin-top: 25px;}
.choose2 .container .fon form input[type=button] {color: var(--main-color-alt);background-color: var(--main-color);border:none;width:200px ;height:40px ;}
@media (max-width:992px) {.choose2 .container {flex-wrap: wrap;}} 

/* end choose2 */

/* end sall */
.sall {padding-top: var(--main-top);padding-bottom: var(--main-bottom);position: relative;min-height: 100vh;overflow: hidden;color: var(--main-color-alt);background-color: var(--main-color);}
.sall .container {display: grid;grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));gap: 100px;text-align: center;padding: 0;}
.sall .container .cart {padding: 10px;background-color: var(--main-color-alt);border-radius: 5px;color: var(--main-color);text-align: center;}
.sall .container .cart img {width:130px;}
.sall .container .cart form input[type=button] {width: 200px;height:40px ;background-color: var(--main-color);color: var(--main-color-alt);border: none;}
/* end sall */

/* start maria */
.maria {padding-top:50px;padding-bottom: var(--main-bottom);background-color: var(--main-color-alt);color: var(--main-color);position: relative;text-align: center;}
.maria .container .carte {position: relative;}
.maria .container .carte img {border-radius: 50%;position: relative;}
.maria .container .carte::before {content: "";position: absolute;background: url(../images/shape002.png);top:-50px;left: 418px;width:301px;height:299px;margin-left: 0px;}
.maria .container .carte h3 {margin-top: 50px;}
.maria .container .carte p {line-height: 1.6;}
/* end maria */

/* start contactus */
.contactus {padding-top: var(--main-top);padding-bottom: var(--main-bottom);background-color: var(--main-color);color: var(--main-color-alt);position: relative;}
.contactus::before {content: "";background-image: url(../images/shape.png);width: 100%;min-height: 100%;position: absolute;top:0px;right: 0px ;}
.contactus .container {display:flex;flex-direction: column;justify-content: space-between;align-items: center;}
.contactus .container .text {margin-bottom: 120px;}
.contactus .container .text h3 {font-size: 20px;line-height: 2;}
.contactus .container form {direction: ltr;z-index: 100;}
.contactus .container form input[type="email"] { border: 1px solid var(--main-color-alt); border-right: none; background:none; padding: 10px 20px 10px 60px; caret-color:var(--main-color-alt); width: calc(100% - 126px); border-radius:15px 0 0 15px ; -webkit-border-radius:15px 0 0 15px ; -moz-border-radius:15px 0 0 15px ; -ms-border-radius:15px 0 0 15px ; -o-border-radius:15px 0 0 15px ; }
.contactus .container form input[type="submit"] { width: 120px; background-color: var(--main-color-alt); color: var(--main-color); padding: 10px 20px; border: 1px solid var(--main-color-alt); border-left: none; text-transform: uppercase; border-radius:0 15px 15px 0 ; -webkit-border-radius:0 15px 15px 0 ; -moz-border-radius:0 15px 15px 0 ; -ms-border-radius:0 15px 15px 0 ; -o-border-radius:0 15px 15px 0 ; }
@media (max-width:767px) {.contactus .container form input[typ="submit"] {width: 100px;}}
/* end contactus */

/* start footer */
.footer {padding-top: 60px;padding-bottom: 60px;background-color: var(--main-color-alt);color: var(--main-color);overflow: hidden;position: relative;}
.footer .container {display: grid;grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));gap: 40px;position: relative;}
.footer::before {content: "";position: absolute;left: -160px;top:75px;background-image: url(../images/shape002.png);width:301px ;height: 299px;}
.footer .container .links h4 {display: inline-block;border-bottom: 3px solid var(--main-color);padding-bottom: 10px;}
.footer .container .links ul {line-height: 1.6;}
.footer .container .links ul li a {color: var(--main-color);}
.footer .container .links ul li a:hover {color: violet;}

.footer .container .map {text-align: center;border-left: 1px solid var(--main-color);border-right: 1px solid var(--main-color);}
.footer .container .map iframe {border-radius: 4px;}

.footer .container .me {text-align: center;margin-top:150px;z-index: 5;}
.footer .container .me span span {font-size: 30px;}

/* end footer */